<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <form action="/cr/<%=Data.id %>?_method=PATCH" method="post">
          
            <label for="title">title:</label>
            <input type="text" name="title" id="title" value="<%=Data.title%>">
            <br>
            <br>
            <label for="author">author:</label>
            <input type="text" name="author" id="author" value="<%=Data.author%>">
            <br>
            <br>
            <label for="year">year:</label>
            <input type="text" name="year" id="year" value="<%=Data.year%>">
            <br>
            <br>
            <button>Save</button>
        </form>
    </fieldset>
</body>
</html>